@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply bg-[#111111] text-body-text; /* Use Tailwind classes */
  }

  h1, h2, h3, h4, h5, h6 {
    @apply uppercase font-bold text-[#111111] font-brand;
  }
}

@layer components {
  /* Add any custom components here */
}

@layer utilities {
  /* Add any custom utilities here */
}